# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask instance folder (if using instance folder for configuration)
instance/

# Flask cache
.webassets-cache

# Environment variables and secrets
.env
*.env

# Pytest cache
.cache/
.pytest_cache/

# Coverage reports
.coverage
.tox/
.nox/
.coverage.*
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
